body {
	background: url(Images/dark-paths.png);
}
header {
	text-align: center;
}
.header-bar{
	border: solid;
	background-color: #FFFFFF;
	box-sizing: border-box;
	margin-bottom: 4em;
}
.name {
	font-size: 30px;
	margin-left: 39%; margin-right: 39%;
	text-align: center;
	color: White;
	font-family: Arial Narrow, sans-serif;
	border: solid;
	border-color: #230FD5;
	border-radius: 10px;
	padding: 5px;
}
.photo {
	text-align: center;
}
.contacts {
	font-size: 18px;
	color: White;
}
.first-section {
	margin-top: 4em;
    margin-bottom: 4em;
	text-align: center;
	color: White;
}
.second-section{
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
    color: White
}
.third-section{
	margin-top: 3em;
	margin-bottom: 4em;
    text-align: center;
}
#container {
  display: flex;
}
.first-images-container{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.second-images-container{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.third-images-container{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
img {
	border:3px solid #000000;	
}
img:hover {
	border:3px solid #FF0000;
}
p {
	font-size: 18px;
	font-family: Andale Mono, monospace;
}
h3 {
	color: #0000FF ;
	font-size: 25px;
	font-weight: 500px;
	font-family: Andale Mono, monospace;
}
@media screen and (max-width: 1280px){
	.second-section img { height: 250px; width: 250px;}
}
@media screen and (max-width: 1024px){
	.second-section img { height: 150px; width: 150px;}
}
@media screen and (max-width: 800px){
	.second-section img { height: 100px; width: 100px;}
}
section {
	border: outset;
	background-color: #5083DC;
	border-color: white;
	border-radius: 5px;
}
